body {
  text-align: center;
}

#loader{
    position: absolute;
    left: 450px;
    top: 70px;
}

table,td,tr{
  border:1px solid black;
  border-collapse: collapse;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}